# Dependencies
node_modules/
.venv/
env/
venv/
__pycache__/
*.py[cod]

# Build outputs
dist/
build/
*.egg-info/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
